body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #eee;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a,
button {
    transition: 0.3s ease;
}

a,
button {
    opacity: 0.7;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: #444;
    color: #eee;
}

a:focus,
button:focus {
    outline: none;
    opacity: 0.7;
}
